{% extends 'layout.twig' %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#"> &nbsp; Home</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <div class = "container">
<div class = "row">
<div class = "col wf">
{% set form_name = "cal" %}
{% set date = "today" %}
<div class="calendar container text-center user-select-none" data-date="{{ date }}" data-start="" data-end="" data-range="" name="{{ form_name }}">
  <div class="calendar_header row justify-content-around pt-2">
    <button class="previous col-1 btn"><i class="fa fa-chevron-left"></i></button>
    <button class="col-3 btn w-50" data-bs-toggle="collapse" data-bs-target="#cal_{{ form_name }}_months">
      <i class="fa fa-chevron-down mx-4"></i>
      <span class="month">Loading</span> <span class="year">Loading</span>
      <i class="fa fa-chevron-down mx-4"></i>
    </button>
    <button class="next col-1 btn"><i class="fa fa-chevron-right"></i></button>
  </div>
  <div id="cal_{{ form_name }}_months" class="calendar_months row justify-content-around collapse hide ">
    {% for year in [-3, -2, -1, 1, 2, 3] %}
    <div style="width: 16.6666%" class="btn year-btn" data-year="{{ year }}">{{ year }}</div>
    {% endfor %}
    {% for month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %}
    <div style="width: 16.6666%" class="btn month-btn" data-month="{{ loop.index0 }}">{{ month }}</div>
    {% endfor %}
  </div>
  <div class="calendar_weekdays row justify-content-around bg-primary py-2 my-2 rounded-3">
    {% for day in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'] %}
    <div style="width: 14.285714%">{{ day }}</div>
    {% endfor %}
  </div>
  <div class="calendar_weekdays row justify-content-around">
    {% for i in 1..7*6 %}
    <a class="btn rounded-0 hover-circle d-flex flex-column justify-content-center" style="width: 14.285714%;" draggable="true">
      <div class="day" style="z-index: 5; position: relative;" data-day="{{ loop.index }}" data-date=""></div>
    </a>
    {% endfor %}
  </div>
  <input hidden name="{{ form_name }}_start" type="date" class="cal_form_start" value="">
  <input hidden name="{{ form_name }}_end" type="date" class="cal_form_end" value="">
</div>
</div>

<div class = "col wf">
<div class = "d-flex justify-content-end p-2"> Search </div>
<div class = "p-2"> Resort Name: </div>
<div class = "p-2"> Location: </div>
<div class = "p-2"> Date: </div>
</div>

<div class = "col wf">
<div class = "p-2"> &nbsp; </div>
<div class = "p-2"> Room Type: </div>
<div class = "p-2"> Owner: </div>
</div>

<div class = "border border-dark row">
<div class = "col wf">
<div class ="d-flex flex-row">
<div class = "p-2 text-center"> Resort Name </div>
</div>
</div>

<div class = "col wf">
<div class ="d-flex flex-row">
<div class = "p-2"> Availiable Rooms </div>
</div>
</div>

<div class = "col wf">
<div class ="d-flex flex-row">
<div class = "p-2"> Room Type(s) </div>
</div>
</div>

<div class = "col wf">
<div class ="d-flex flex-row">
<div class = "p-2 ms-auto"> Average Price </div>
</div>
</div>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/calendar.js"></script>

{% endblock %}
